// Variables

$height: 600px;
$colwidth: 30%;

$closeSize: 55px;
$openSize: 350px;

$gray: DimGray;
$lightgray: LightGray;
$superlightgray: #f2f2f2;
$medgray: #999;
$darkgray: #333;
$darkred: #700000;

$selected: #e5fbff;


fieldset {border: 0}

// IDs

#columnWrapper {
	background: -webkit-linear-gradient(left, $superlightgray 323px, #e5e5e5 10px);
	background-size: 333px;
	height: $height;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#controls {
	height: 45px;
	border: 1px solid $superlightgray;
	background: white;
	margin-bottom: 10px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

#flat {
	width: 666px;
}

#flatWrapper {
	display: none;
	background: -webkit-linear-gradient(left, $superlightgray 323px, #e5e5e5 10px);
	background-size: 333px;
	height: $height;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#frame {
	height: $height;
}

#hierarchy {
	width: 320px;
	display: none;
	float: left;
	overflow: hidden;
	background: pink;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: $lightgray;
	}
}

#holder {
	height: $height;
	border: 1px solid $lightgray;
	width: 1000px; //100%;
	overflow-x:scroll;
	overflow-y: hidden;
	white-space: nowrap;

	ul {
		display: inline-block !important;
	}
}

// Classes

.button {
	background: $superlightgray;
	border: 1px solid $lightgray;
	font-weight: 300 !important;
	color: $gray;

	&:hover {
		background: $selected;
		color: $gray;
	}
}

.copyNotice {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	margin-top: -50px;
	margin-left: -100px;
	border: 1px solid white;
	background: rgba(77, 120, 128,.8); //rgba(0,0,0, .5);
	border-radius: 5px;
	white-space: normal;
	text-align: center;
	z-index: 999;
	box-shadow: 0px 0px 1px #000;

	-webkit-animation: copy 400ms;

	h1 {
		margin-bottom:0;
		color: white;
	}

	p {
		color: white;
		font-size: 0.9em;
		font-weight: 300;
		padding: 5px;
	}

	.cancel {
		display: block;
		border: 0;
		border-radius: 5px;
		background: $selected;
		color: $gray;
		text-align: center;
		width: 50%;
		height: auto;
		margin: 5px auto;
		cursor: pointer;
		font-size: 13px;
	}
}

@-webkit-keyframes copy {
	from {opacity: 0;}
	to {opacity: 1;}
}

.contextual {
	display: none;
}

.data-list {
	height: $height;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0;
	margin: 0 10px 0 0;
	width: 323px;

	li {

		position: relative;

		a {
			display: block;
			height: $closeSize;
			list-style-type: none;
			background: white url(/images/arrow.svg) no-repeat 96% center;
			background-size: 15px;
			border: 1px solid $lightgray;
			border-top: 0;
			color: $gray;
			overflow: hidden;

			transition: height 400ms ease, background-color 400ms ease, opacity 400ms ease;

			&:hover {
				background-color: $superlightgray;
			}

			&.copyHover:hover {
				background-color: $lightgray;
			}

			&.selected {
				background-color: $selected;
			}

			&.open {
				height: $openSize;
			}

			&.copyState {
				background-color: $selected;
				
				p {
					opacity: .5
				}
			}

			p {
				padding-left: 20px;
				padding-top: 3px;

				&.title {
					display: block;
					width: 90%;
					height: auto;
					font-size: 1.0em;
					line-height: 0.9em;
					margin-bottom: 0;
				}

				&.description {
					font-size: 0.8em;
					color:  $medgray;
					padding-top: 0;
				}

				&.info {
					font-size: 0.80em;
					margin-top: 20px;
					width: 85%;
					color: $medgray;
					white-space: normal;
				}
			}
		}

		&.loadmore {
			a {
			background-image: none;
			text-align: center;

				p {margin-top: 20px}
			}
		}

	}
}

.data-display {
	overflow: hidden;
}

.paginationArea {
	display: none;
	margin-top: 30px;
	text-align: center;

	ul {
		margin: 0 auto;
		width: 30%;
	}
}

.row {height: auto !important;}

