// Variables

$height: 600px;
$colwidth: 30%;

$closeSize: 70px;
$openSize: 350px;

$gray: DimGray;
$lightgray: LightGray;
$darkgray: #333;

// IDs

#controls {
	height: 45px;
	border: 1px solid $lightgray;
	background: rgb(251,251,251);
	margin-bottom: 20px;
}

#frame {
	height: $height;
}

#hierarchy {
	padding: 10px;

	ul {
		margin: 10px;
		margin-left: 50px;
		list-style-type:square;
	}
}

#holder {
	height: $height;
	background-color: AliceBlue;
	width: 100%;
	overflow-x:scroll;
	overflow-y: hidden;
	white-space: nowrap;

	ul {
		display: inline-block !important;
	}
}

// Classes

.button {
	background: $gray;
	border: 1px solid $lightgray;
	font-weight: 300 !important;
}

.contextual {
	display: none;
}

.data-list {
	background: pink;
	height: $height;
	overflow-y: scroll;
	padding: 0;

	li {

		a {
			display: block;
			height: $closeSize;
			list-style-type: none;
			background: $gray url(/images/arrow.svg) no-repeat 98% center;
			background-size: 10px;
			border: 1px solid $lightgray;
			border-top: 0;
			color: white;
			overflow: hidden;

			transition: height 400ms ease, background-color 400ms ease;

			&:hover {
				background-color: $darkgray;
			}

			&.selected {
				background-color: darkred;
			}

			&.open {
				height: $openSize;
			}

			p {
				padding-left: 20px;
				padding-top: 3px;

				&.title {
					display: block;
					width: 90%;
					height: auto;
					font-size: 1.0em;
					line-height: 0.9em;
					margin-bottom: 0;
				}

				&.description {
					font-size: 0.8em;
					color: LightGray;
				}

				&.info {
					font-size: 0.80em;
					margin-top: 30px;
					width: 90%;
					color: LightGray;
					white-space: normal;
				}
			}
		}
	}
}

.data-display {
	overflow: hidden;
}