#control {
	height: 600px;
	min-width: 960px;
	background-color: pink;
	overflow: hidden;
}

.data-list {
	background: pink;
	height: 100%;
	overflow-y: scroll;
	border-right: 1px solid white;
	padding: 0;

	li {

		a {
			display: block;
			height: 100px;
			list-style-type: none;
			background-color:red;
			border: 1px solid white;
			color: white;

			&:hover {
				background-color: darkred;
			}

			p {
				padding-left: 20px;
				padding-top: 10px;

				&.title {
					font-size: 1.3em;
					margin-bottom: 0
				}

				&.description {
					padding-top: 0;
				}
			}
		}
	}
}

.data-display {
	overflow: hidden;
}