/* line 15, ../sass/custom.scss */
#controls {
  height: 45px;
  border: 1px solid lightgrey;
  background: #fbfbfb;
  margin-bottom: 20px;
}

/* line 22, ../sass/custom.scss */
#flatWrapper {
  display: none;
}

/* line 24, ../sass/custom.scss */
#frame {
  height: 600px;
}

/* line 28, ../sass/custom.scss */
#hierarchy {
  padding: 10px;
  display: none;
}
/* line 32, ../sass/custom.scss */
#hierarchy ul {
  margin: 10px;
  margin-left: 25px;
  list-style-type: none;
}

/* line 39, ../sass/custom.scss */
#holder {
  height: 600px;
  background-color: AliceBlue;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
/* line 47, ../sass/custom.scss */
#holder ul {
  display: inline-block !important;
}

/* line 54, ../sass/custom.scss */
.button {
  background: dimgrey;
  border: 1px solid lightgrey;
  font-weight: 300 !important;
}

/* line 60, ../sass/custom.scss */
.contextual {
  display: none;
}

/* line 64, ../sass/custom.scss */
.data-list {
  background: pink;
  height: 600px;
  overflow-y: scroll;
  padding: 0;
}
/* line 72, ../sass/custom.scss */
.data-list li a {
  display: block;
  height: 70px;
  list-style-type: none;
  background: dimgrey url(/images/arrow.svg) no-repeat 98% center;
  background-size: 10px;
  border: 1px solid lightgrey;
  border-top: 0;
  color: white;
  overflow: hidden;
  transition: height 400ms ease, background-color 400ms ease;
}
/* line 85, ../sass/custom.scss */
.data-list li a:hover {
  background-color: #333333;
}
/* line 89, ../sass/custom.scss */
.data-list li a.selected {
  background-color: #333;
}
/* line 93, ../sass/custom.scss */
.data-list li a.open {
  height: 350px;
}
/* line 97, ../sass/custom.scss */
.data-list li a p {
  padding-left: 20px;
  padding-top: 3px;
}
/* line 101, ../sass/custom.scss */
.data-list li a p.title {
  display: block;
  width: 90%;
  height: auto;
  font-size: 1.0em;
  line-height: 0.9em;
  margin-bottom: 0;
}
/* line 110, ../sass/custom.scss */
.data-list li a p.description {
  font-size: 0.8em;
  color: LightGray;
}
/* line 115, ../sass/custom.scss */
.data-list li a p.info {
  font-size: 0.80em;
  margin-top: 30px;
  width: 90%;
  color: LightGray;
  white-space: normal;
}

/* line 127, ../sass/custom.scss */
.data-display {
  overflow: hidden;
}
