/* line 3, ../sass/custom.scss */
#column1, #column2 {
  height: 600px;
  min-width: 960px;
  background-color: pink;
  overflow: hidden;
}

/* line 10, ../sass/custom.scss */
#column2 {
  display: none;
}

/* line 14, ../sass/custom.scss */
.data-list {
  background: pink;
  height: 600px;
  overflow-y: scroll;
  border-right: 1px solid white;
  padding: 0;
}
/* line 23, ../sass/custom.scss */
.data-list li a {
  display: block;
  height: 100px;
  list-style-type: none;
  background-color: red;
  border: 1px solid white;
  color: white;
  transition: height 0.2s ease;
}
/* line 33, ../sass/custom.scss */
.data-list li a:hover {
  background-color: darkred;
}
/* line 37, ../sass/custom.scss */
.data-list li a.selected {
  background-color: darkred;
  height: 600px;
}
/* line 42, ../sass/custom.scss */
.data-list li a p {
  padding-left: 20px;
  padding-top: 10px;
}
/* line 46, ../sass/custom.scss */
.data-list li a p.title {
  font-size: 1.3em;
  margin-bottom: 0;
}
/* line 51, ../sass/custom.scss */
.data-list li a p.description {
  padding-top: 0;
}

/* line 59, ../sass/custom.scss */
.data-display {
  overflow: hidden;
}
